body{
    background-color: rgb(177, 215, 252);
}

.footer{
    background: url('../../public/img/water.png');
    padding-top:25px;
    text-align:center;
    margin:0 auto;

}

#heading{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 0%;
    margin-left: 87%;
    font-size: 100px;
}

.main{

    margin-left: 27%;
    margin-top: 30.5%;
}

.maintitle{
    margin-top: -30%;
    margin-left: -26%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.archsum{
    margin-top: -16%;
    margin-left: 40%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.arch {
    border-left: 20px solid #dd4b39;
    height: 50%;
    margin: 55px 8px 0;
    padding: 0 8px;
}

.tech{
    border-right: 20px solid #f8f600;
    height: 50%;
    margin: 80px 8px 0;
    padding: 0 8px;

}

.techsum{
    margin-top: -22%;
    margin-left: 0%;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 50%;
}

#title {
    font-size: 50px;
}

.boxcheck {
    padding: 8px 8px 0;
background: #e6f1f6;
border: 1px solid #b7c7cf;
border-bottom-color: #d8e6ec;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
width: 90%;
height:50%;
margin-left: 5%;
}
.element{
    margin-left:50%;
    margin-top: -25%;
    /*font-weight: 400;*/
    font-size: 50;
}

.information{
    margin-top: -2.8%;
    margin-left:50%;
}


.typed-cursor{
    opacity: 1;
    /*font-weight: 400;*/
    -webkit-animation: blink 0.7s infinite;
    font-size: 20;
    margin-left: 49%;
    margin-top: -5%;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
